<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!-- Alper PC-->
    <add name="NorthwindContext" connectionString="Data Source=DESKTOP-UGUF05C;          initial catalog=Northwind;Integrated Security=True;" providerName="System.Data.SqlClient" />
 
    <!--Remote-->
    <!--<add name="ASBDB_GALERIBORDO01Entities" connectionString="metadata=res://*/Entities.ASBDB_GALERIBORDO01DBModel.csdl|res://*/Entities.ASBDB_GALERIBORDO01DBModel.ssdl|res://*/Entities.ASBDB_GALERIBORDO01DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.111;initial catalog=ASBDB_GALERIBORDO01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ASBWEBEntities" connectionString="metadata=res://*/Entities.ASBWEBEntities.csdl|res://*/Entities.ASBWEBEntities.ssdl|res://*/Entities.ASBWEBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.111;initial catalog=ASBWEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!--Yigit PC-->
    <!--<add name="ASBDB_GALERIBORDO01Entities" connectionString="metadata=res://*/Entities.ASBDB_GALERIBORDO01DBModel.csdl|res://*/Entities.ASBDB_GALERIBORDO01DBModel.ssdl|res://*/Entities.ASBDB_GALERIBORDO01DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C8BJGJ0;initial catalog=ASBDB_GALERIBORDO01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="ASBWEBEntities" connectionString="metadata=res://*/Entities.ASBWEBEntities.csdl|res://*/Entities.ASBWEBEntities.ssdl|res://*/Entities.ASBWEBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C8BJGJ0;initial catalog=ASBWEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->




  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
